<p>
  <%= @welcome_message %>
</p>

Current votes: <%= @current_votes %>

<div>
  <form action="/votes" method="post">

    <label for="name">Name</label>
    <input type="text" name="name"></br>

    <label for="category">Category</label>
    <select name="category">
      <option value="SM">Solution Manager</option>
      <option value="RM">Regional Manager</option>
      <option value="DEV">Developer</option>
      <option value="QA">Qa Engineer</option>
    </select></br>

    <label for="temperature">Vote (between 17-28)</label>
    <input type="text" name="temperature"></br>

    <input type="submit" value="Vote">
  </form>

  <form action="/calculate_votes" method="post">
    <input type="submit" value="Calculate Winner">
  </form>
</div>
